.card {
  display: flex;
  flex-direction: column;
  background: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 0 10px;
  border: 1px solid #BF90FF;
  box-shadow: 0 0 5px rgba(97, 16, 167, 0.82);



}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 0px;
  margin-top: 5px;
}

.date {
  font-size: 1rem;
  color: #bbbbbb;
  margin-bottom: 10px;
}

.team {
  font-size: 1rem;
  color: #f9d1f5;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  color: #bbb;
  margin-bottom: 20px;
}

.links {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #3b82f6;
  text-decoration: none;
  transition: color 0.3s;
}

.linkIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
}

.link:hover {
  color: #60a5fa;
}

.dateTeam {
  display: flex;
  justify-content: space-between;
}

.ProjectName {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 0px;
  cursor: pointer;
  text-decoration: none;
}

.ProjectName:hover {
  color: #BF90FF;
}

.ProjectName:active,
.ProjectName:focus {
  color: #BF90FF;
}

@media (max-width: 1024px) {
  .title {
    font-size: 1.3rem;
  }

  .date,
  .team,
  .description {
    font-size: 0.9rem;
  }

  .link {
    font-size: 0.9rem;
  }




}

@media (max-width: 750px) {
  .title {
    font-size: 1.1rem;
  }

  .date,
  .team,
  .description {
    font-size: 0.8rem;
  }

  .link {
    font-size: 0.8rem;
  }


}
