.slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .buttonContainer {
    margin-top: 2vh;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 30px;
    align-self: flex-start;
    width: 100%;
  }
  
  .button {
    background: #161A31;
    border: 2px solid #CBACF9;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s;
    width: 400px;
    font-size: 1.6em;
    border-radius: 15px;
    color: #C1C2D3;
    transition: 0.5s;
  }

  .active {
    background-color: #111b56d6;
    box-shadow: 0 0 25px rgba(97, 16, 167, 0.82);
    color: #CBACF9;
    transform: scale(1.02);
  }
   

  @media (max-width: 775px){
     .button {
        width: 300px;
        font-size: 1.5em;
      width:fit-content ;
     }
    
}

@media (max-width: 500px) {
  .buttonContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .button {
    width: 100%;
    font-size: 1.5em;
 
  }

}


